{% extends 'base.html.twig' %}

{% block title %}BarcodeFinder - E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="card">
            <div class="card-content">
                <p>
                    Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                    Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
